<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimai" version="0.1.6" manuallyInstalled="true" />
  <package id="ManagedBass" version="4.0.2" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" manuallyInstalled="true" />
  <package id="ZString" version="2.6.0" manuallyInstalled="true" />
</packages>